#contact-form > fieldset {
  display: flex;
  flex-direction: column;
  width: 60vw;
  color: var(--color-white);
  gap: 1rem;
  padding: 2rem;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  border-radius: 0.5rem;
  border: var(--color-white) 0.1rem solid;
  margin: 1rem 0.5rem;
}

legend {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}

#contact-form > fieldset > button {
  align-self: end;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: var(--color-white) 0.1rem solid;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

input {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-white);
}

label {
  font-family: var(--font-headings);
  font-size: 1.3rem;
  color: var(--color-white);
  margin: 0.5rem;
}

textarea {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-white);
  resize: none;
}
