/* Table of Contents */

/* -----------------------------------------------------*/

/* >>> 1. RESETS  <<<<<<<<<<<<< */

/* >>> 2. CSS VARIABLES  <<<<<< */

/* >>> 3. FONTS  <<<<<<<<<<<<<< */

/* >>> 4. MAIN <<<<<<<<<< */

/* >>> 5. COMPONENTS <<<<<<<<<< */

/* >>> 6. VARIA <<<<<<<<<<<<<<< */

/* -----------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");

/* >>> 1. RESETS  <<<<<<<<<<<<< */

:root {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;

  /* >>> 2. CSS VARIABLES <<<<<<< */

  --color-black: #0f0000;
  --color-grey: #bababa;
  --color-white: #fffffd;
  --color-green: #baf584;
  --color-purple: #2d0041;

  /* >>> 3. FONTS  <<<<<<<<<<<<<< */

  --font-heading-narrow: "Arima", sans-serif;
  --font-headings: "Mona Sans", sans-serif;
  --font-handwritten-Beth: "Beth Ellen", cursive;
  --font-regular: "Roboto Flex", sans-serif;
}

@font-face {
  font-family: var(--font-heading-narrow);
  src: url("./fonts/Arima/Arima-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: var(--font-regular);
  src: url("./fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Mona Sans";
  src: url("./fonts/Mona_Sans/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("./fonts/Mona_Sans/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: "Mona Sans";
}

/* >>> 4. MAIN <<<<<<<<<< */

body,
html {
  padding: 0;
  margin: 0;
  height: 100dvh;
  width: 100dvw;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
  background-color: var(--color-purple);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  overflow: scroll;
}

header,
footer {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-handwritten-Beth);
  font-size: 2rem;
  padding: 0 2rem 0 2rem;
}

footer {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-handwritten-Beth);
  font-size: 2rem;
  height: 100%;
}

nav > *:first-child {
  font-size: 3.5rem;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-green);
  text-decoration: underline;
}

p {
  color: var(--color-white);
  font-family: var(--font-regular);
  font-size: 2rem;
  line-height: 1.5;
}

h1 {
  color: var(--color-white);
  font-family: var(--font-heading-narrow);
  font-size: 3rem;
  text-align: center;
}

h3 {
  color: var(--color-white);
  font-family: var(--font-handwritten-Beth);
  font-size: 2rem;
}

/* >>> 5. COMPONENTS <<<<<<<<<< */

.portrait {
  background-color: var(--color-white);
  padding: 1rem;
  color: blue;
  width: 40rem;
}

.portrait img {
  max-width: 100%;
  height: auto;
}

.portrait figcaption {
  font-size: 1.8rem;
  font-family: var(--font-handwritten-Beth);
  text-align: end;
  padding-right: 3rem;
}

/* >>> 6. VARIA <<<<<<<<<<<<<<< */
